@import url("//fonts.googleapis.com/css?family=Open+Sans:400,700");
@import "vendor/bourbon/dist/bourbon";
$icon-font-path: "/assets/fonts/" !default;
@import "vendor/bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
$fa-font-path: "/assets/fonts" !default;
@import "vendor/font-awesome/scss/font-awesome.scss";
@import "bootstrapTheme.scss";

$selectedColor: #158cba;
$hoverColor: #15b5ba;

$borderColor: #e7e7e7;
$backgroundColor: #f8f8f8;

$controlColor: rgb(51, 51, 51);
$controlHighlightColor: lighten($controlColor, 40%);

$genSynthBlue: #158cba;
$genSynthBlueHighlight: lighten($genSynthBlue, 40%);

$genSynthRed: #BE1819;
$genSynthRedHighlight: lighten($genSynthRed, 30%);

$controlsWidth: 100px;
$halfControlsWidth: $controlsWidth / 2;

html, body {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}

.topLinkIcon {
  margin-top: -2px;
  padding-bottom: 9px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.mainContent {
  padding: 0 40px 10px 40px;
}

.evolver {

  .instruments {
    border: 2px $borderColor solid;
    padding: 5px;
  }

  .lastMutation {
    margin: -5px 5px 5px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .controls {
    text-align: center;
    margin-bottom: 5px;
  }

} // eo .evolver

.instrument {
  position: relative;
  padding: 5px;
  margin: 5px;

  height: 250px;
  width: 100%;
  border: 2px $borderColor solid;

  &.selectable {
    cursor: pointer;
  }

  .visualizer {
    height: 100%;
  }

  .controls {
    position: absolute;
    width: 100%;
    text-align: left;
    border: 0;
    padding: 0 10px 0 0;
    pointer-events: none;
    z-index: 100;

    & * {
      pointer-events: auto;
      text-decoration: none;
    }

    .badge {
      top: 0px;
      margin: 0 -20px 0 -15px;
    }
  }

  .bottomControls {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 73px;
    padding: 0 10px 5px 10px;

    .badge {
      top: -3px;
      margin-left: -8px;
    }
  }

  .badge {
    position: relative;
    background-color: $controlColor;

    &:hover {
      background-color: $controlHighlightColor;
    }
  }

  .bottomInfo {
    position: absolute;
    bottom: 0;
    max-width: calc(100% - 73px);
    padding: 0 5px 6px 5px;

    h4 {
      padding: 3px;
      border-radius: 5px 5px 0px 0;
      margin-bottom: -1px;
      background-color: rgba($backgroundColor, 0.6);
    }

    .tagContainer {
      background-color: rgba($backgroundColor, 0.6);

      .label {
        background-color: rgba($genSynthBlue, 0.6);
      }
    }
  }

  svg {
    border-width: 0 1px 4px 1px;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
  }

  &.selectable:hover {
    background: $hoverColor;
  }

  &.selected {
    background: $selectedColor;
  }
}

.control {
    padding-top: 5px;
    color: $controlColor;
    cursor: pointer;
  &:hover,
  &.active {
    color: $controlHighlightColor;
    text-decoration: none;
  }
}

.liveIcon {
  &:hover {
    color: $genSynthRedHighlight;
  }

  &.live,
  &.live:hover {
    color: $genSynthRed;
  }
}

.onscreenKeyboardSpacer {
  height:100px;
}
.onscreenKeyboard {
  position: fixed;
  left: 50%;
  margin-left: -271px - $controlsWidth;
  bottom: 0;
  height: 100px;
  width: 644px;
  border: $borderColor 1px solid;
  background: $backgroundColor;
  z-index: 1000;

  & * {
    @include user-select(none);
    cursor: pointer;
  }

  .onscreenPianoControls {
    width: 100px;
    border: 1px $borderColor solid;

    .controlLabel {
      display: inline-block;
      margin-top: 3px;
    }
  }

  .blackKeys {
    position:absolute;
    top:0;
    left: $controlsWidth + 20px;
    pointer-events: none;

    .key {
      height: 60px;
      width: 30px;
      margin: 0 5px 0 5px;
      background: rgb(100, 100, 100);
      margin-right: 0px;
      pointer-events: auto;

      &:hover {
        background: rgb(50, 50, 50);
      }
      &.isPlaying {
        background: rgb(20, 20, 20);
      }

      .note {
        top: 25px;
        margin-left: -11px;
      }
      .hotkey {
        top: 40px;
        margin-left: -5px;
      }
    }

    .blank {
      display: inline-block;
      width: 40px;
      margin-left: -5px;
    }
  }

  .whiteKeys {
    position: absolute;
    top:0;
    left: $controlsWidth;

    .key {
      background: rgb(255, 255, 240);
      margin-right: -5px;

      &:hover {
        background: rgb(220, 220, 220);
        }
      &.isPlaying {
        background: rgb(150, 150, 150);
      }

      .note {
        top: 60px;
        margin-left: -9px;
      }
      .hotkey {
        top: 75px;
        margin-left: -5px;
      }
    }
  }

  .key {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 100px;
    text-align: center;

    border: 1px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    .note,
    .hotkey {
      position: absolute;
      color: black;
    }
  }
}

.toggleText {
  text-decoration: underline;
  cursor: pointer;
}

.btn.active.btn-primary {
  border-color: #0c516c;
  margin-top: 2px;
  border-bottom-width: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.genSynthModal {
  position: fixed;
  width: 100%;
  height: 100%;
  left:0;
  right:0;
  top:0;
  bottom:0;

  background-color: rgba(100, 100, 100, 0.5);

  z-index: 1000;

  .modalContent {
    position:relative;
    left:50%;
    top:10%;

    margin-left: -25%;
    width: 50%;

    background-color: white;
    border-radius: 5px;
    border: 2px $borderColor solid;
    padding: 5px;

    z-index: 1100;
  }
}

.navbar-nav {
  li {
    cursor: pointer;
  }
}

.modal {
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
}

.ui-helper-hidden-accessible {
  display: none;
}

.blue {
  color: $genSynthBlue;
}

.row .col-md-4 i.centered {
  position: relative;
  left: calc(50% - 36px);
}
