
@import "compass/css3/user-interface";

@mixin pointer-events($type: none) {
  $type: unquote($type);
  @include experimental(pointer-events, $type,
    -moz, -webkit, not -o, not -ms, -khtml, official
  );
}

$selectedColor: #158cba;
$hoverColor: #15b5ba;

$borderColor: #e7e7e7;
$backgroundColor: #f8f8f8;

html, body {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}

.mainContent {
  padding: 0 40px 10px 40px;
}

.evolver {

  .instruments {
    border: 2px $borderColor solid;
    padding: 5px;
  }

  .instrument {
    position: relative;
    margin: 5px 0 35px 0;
    padding: 5px;
    height: 300px;
    width: 100%;
    border: 2px $borderColor solid;
    cursor: pointer;

    .controls {
      position: absolute;
      width: 100%;
      text-align: left;
      border: 0;
      padding: 0 10px 0 0;
      pointer-events: none;

      & * {
        pointer-events: auto;
      }
    }

    &:hover {
      background: $hoverColor;
    }

    &.selected {
      background: $selectedColor;
    }

    .liveToggle {
      float: right;
    }

  }

  .lastMutation {
    margin: -5px 5px 5px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .instrument svg {
    border-width: 0 1px 4px 1px;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
  }

  .controls {
    text-align: center;
    margin-bottom: 5px;
  }

  .children {
    border: 2px $borderColor solid;
    
    .child {
      height: 250px;
      margin: 5px;
    }
  }

  .liveToggle {
    position: relative;
    cursor: pointer;
    display: inline-block;
    border-radius: 25px;
    width: 25px;
    height: 25px;
    background: white;
    border: 1px solid black;
    margin: 5px;

    &:hover .liveIcon{
      background: lightcoral;
    }

    .liveHotkey {
      position: absolute;
      font-weight: bold;
      left: 8px;
      top: 1px;
    }
    .liveIcon {
      display: inline-block;
      top: 4px;
      left: 4px;
      width: 15px;
      height: 15px;
      position: relative;
      border-radius: 15px;
      
      &.active {
        background: red;
      }
    }
  }

} // eo .evolver

$controlsWidth: 100px;
$halfControlsWidth: $controlsWidth / 2;

.onscreenKeyboardSpacer {
  height:100px;
}
.onscreenKeyboard {
  position: fixed;
  left: 50%;
  margin-left: -271px - $controlsWidth;
  bottom: 0;
  height: 100px;
  width: 644px;
  border: $borderColor 1px solid;
  background: $backgroundColor;

  & * {
    @include user-select(none);
    cursor: pointer;
  }

  .onscreenPianoControls {
    width: 100px;
    border: 1px $borderColor solid;

    .controlLabel {
      display: inline-block;
      margin-top: 3px;
    }
  }

  .blackKeys {
    position:absolute;
    top:0;
    left: $controlsWidth + 20px;
    @include pointer-events(none);

    .key {
      height: 60px;
      width: 30px;
      margin: 0 5px 0 5px;
      background: rgb(100, 100, 100);
      margin-right: 0px;
      @include pointer-events(auto);

      &:hover {
        background: rgb(50, 50, 50);
      }
      &.isPlaying {
        background: rgb(20, 20, 20);
      }

      .note {
        top: 25px;
        margin-left: -11px;
      }
      .hotkey {
        top: 40px;
        margin-left: -5px;
      }
    }

    .blank {
      display: inline-block;
      width: 40px;
      margin-left: -5px;
    }
  }

  .whiteKeys {
    position: absolute;
    top:0;
    left: $controlsWidth;

    .key {
      background: rgb(255, 255, 240);
      margin-right: -5px;

      &:hover {
        background: rgb(220, 220, 220);
        }
      &.isPlaying {
        background: rgb(150, 150, 150);
      }

      .note {
        top: 60px;
        margin-left: -9px;
      }
      .hotkey {
        top: 75px;
        margin-left: -5px;
      }
    }
  }

  .key {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 100px;
    text-align: center;

    border: 1px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    .note,
    .hotkey {
      position: absolute;
      color: black;
    }
  }
}

.toggleText {
  text-decoration: underline;
  cursor: pointer;
}
.toggleIcon {
  cursor: pointer;
  font-size: 24px;
  &:hover {
    color: rgba(85, 85, 85, 0.7);
  }
}

.floatingControls {
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 5px;
  
  border: $borderColor 1px solid;
  border-top: 0;
  border-right: 0;

  background: $backgroundColor;
  z-index: 200;
}

.btn.active.btn-primary {
  border-color: #0c516c;
  margin-top: 2px;
  border-bottom-width: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.genSynthModal {
  position: fixed;
  width: 100%;
  height: 100%;
  left:0;
  right:0;
  top:0;
  bottom:0;

  background-color: rgba(100, 100, 100, 0.5);

  z-index: 1000;

  .modalContent {
    position:relative;
    left:50%;
    top:10%;

    margin-left: -25%;
    width: 50%;

    background-color: white;
    border-radius: 5px;
    border: 2px $borderColor solid;
    padding: 5px;

    z-index: 1100;
  }
}