<div class="midiPiano">
  MIDI Input 
  {{view "select"
         content=inputList
         optionValuePath="content.id"
         optionLabelPath="content.name"
         selection=selectedInput}}
</div>
