
<h2>GenSynth Platform Libraries</h2>
<ul>
    <li><a href="https://github.com/davidlukerice/asNEAT" target="_blank">asNEAT</a></li>
    <li><a href="https://github.com/davidlukerice/asNEAT-visualizer" target="_blank">asNEAT-visualizer</a></li>
    <li><a href="https://github.com/davidlukerice/genSynth" target="_blank">GenSynth</a></li>
</ul>

<h2>Main 3rd Party Libraries <small>See above repos for more details</small></h2>
<h3>Client Side</h3>
<ul>
    <li><a href="http://getbootstrap.com/" target="_blank">Bootstrap</a></li>
    <li><a href="http://d3js.org/" target="_blank">D3</a></li>
    <li><a href="http://www.ember-cli.com/" target="_blank">Ember-cli</a></li>
    <li><a href="https://github.com/simplabs/ember-simple-auth" target="_blank">Ember Simple Auth</a></li>
    <li><a href="http://fortawesome.github.io/Font-Awesome/" target="_blank">Font Awesome</a></li>
    <li><a href="http://jquery.com/" target="_blank">jQuery</a></li>
    <li><a href="http://lodash.com/" target="_blank">Lodash</a></li>
    <li><a href="http://aehlke.github.io/tag-it/" target="_blank">Tag-It</a></li>
    <li><a href="http://vestorly.github.io/torii/" target="_blank">Torii</a></li>
</ul>
<h3>Server Side</h3>
<ul>
    <li>Modification of the <a href="https://github.com/mgenev/nodember" target="_blank">Full Stack JS Nodember BoilerPlate</a></li>
    <li><a href="https://github.com/caolan/async" target="_blank">Async</a></li>
    <li><a href="http://expressjs.com/" target="_blank">Express</a></li>
    <li><a href="http://mongoosejs.com/" target="_blank">Mongoose</a></li>
    <li><a href="http://passportjs.org/" target="_blank">Passport</a></li>
</ul>
