
<div class="feedback">

  <div class="row">
    <div class="col-md-12">
      <h3>Feedback</h3>
    </div>

    <div class="col-md-12">
      <p>
        Please report any issues to the <a href="https://github.com/davidlukerice/devart-template/issues" target="_blank" >Issue Tracker</a><br>
        Or tweet <a href="https://twitter.com/davidlukerice" target="_blank">@davidlukerice</a> any questions / suggestions.
      </p>
    </div>

    <div class="col-md-12">
      <br>
      <span>Quick Comment</span>
      {{textarea class="form-control" rows=3 value=quickFeedbackText}}
      <button class="btn btn-primary" {{action sendQuickFeedback}}>Send</button>
      {{#if successMessage}}
        <br><div class="label label-success">{{successMessage}}</div>
      {{/if}}
    </div>
  </div>

</div>
