
<div class="index">
  <p>
    GenSynth is a proof of concept platform for evolving new synthetic instruments.<br>
    Each new generation of instruments is a mixture of children bred and mutated from the previous generation.<br>
    <br>
    <span class="label label-warning">Warning</span> You may want to turn down the volume at first. Some of the sounds can be loud and harsh to listen to!
  </p>

  <div class="row">
    <div class="col-md-12">
      <h3>Most Starred Instruments</h3>
    </div>
  </div>
  <div class="row instruments">
    {{#each instrumentParams}}
      {{instrument-component
        instrumentNetwork=this.instrumentNetwork
        selected=this.selected
        isLive=this.isLive
        index=this.index
        instrumentModel=this.instrumentModel
        makeLiveHandler="makeLive"}}
    {{else}}
      <div class="col-md-12">
        None
      </div>
    {{/each}}
  </div>
</div>
