
<div class="index">
  <p>
    GenSynth is a proof of concept platform for evolving new synthetic instruments.<br>
    Each new generation of instruments is a mixture of children bred and mutated from the previous generation.<br>
    <br>
  </p>

  <div class="row">
    <div class="col-md-12">
      <h3>Top Instruments</h3>
    </div>
  </div>
  <div class="row instruments">
    {{#each instrumentParams}}
      {{instrument-parent
        instrumentNetwork=this.instrumentNetwork
        selected=this.selected
        isLive=this.isLive
        index=this.index
        instrumentModel=this.instrumentModel
        makeLiveHandler="makeLive"}}
    {{else}}
      <div class="col-md-12">
        None
      </div>
    {{/each}}
  </div>
</div>