<h2 class="text-center">University of Oklahoma</h2>
<p class="text-center"><strong>Institutional Review Board</strong></p>
<p class="text-center"><strong>Informed Consent to Participate in a Research Study</strong></p>

<strong>Project Title:</strong> Collaboratively Evolving Novel Synthetic Musical Instruments<br>
<strong>Principal Investigator:</strong> David Rice<br>
<strong>Department:</strong> Computer Science<br>
<br>
<p>
  You are being asked to volunteer for this research study. This study is being conducted in at <a href="https://gensynth.ou.edu" target="_blank">https://gensynth.ou.edu</a>.<br>
  Please read this form and ask any questions that you may have before agreeing to take part in this study.<br>
</p>

<h3>Who Can Participate</h3>
You can participate if you are between the ages of 18 and 64.

<h3>Purpose of the Research Study</h3>
The purpose of this study is to determine in what ways Collaborative Interactive Evolution, through branching and starring, allows for more complex and interesting synthetic instruments to be evolved than allowed by the fatigue of a single user.

<h3>Number of Participants</h3>
About 5000 people will take part in this study.

<h3>Procedures</h3>
If you agree to be in this study, you will be asked to utilize the website and evolve/branch/star digital instruments. During this process, analytics will be tracked to be used in the study. After which you may fill out a short survey about your experience and background in music.

<h3>Length of Participation </h3>
15 minutes to as long as you want

<h3>Risks of being in the study are</h3>
None

<h3>Benefits of being in the study are</h3>
Your participation will help in producing interesting software that you and others can use.

<h3>Compensation</h3>
You will not be reimbursed for your time and participation in this study.

<h3>Confidentiality</h3>
In published reports, there will be no information included that will make it possible to identify you. The Facebook ID or e-mail address provided for authentication will be utilized only for subsequent GenSynth logins and will be removed from any data collected during analysis. Research records will be stored securely and only approved researchers will have access to the records.<br>
There are organizations that may inspect and/or copy your research records for quality assurance and data analysis. These organizations include the OU Institutional Review Board.

<h3>Voluntary Nature of the Study</h3>
Participation in this study is voluntary. If you withdraw or decline participation, you will not be penalized or lose benefits or services unrelated to the study. If you decide to participate, you may decline to answer any question and may choose to withdraw at any time.

<h3>Contacts and Questions</h3>
If you have concerns or complaints about the research, the researcher(s) conducting this study can be contacted at gensynthstudy at gmail dot com. In addition, the faculty sponsor, Dr. Trytten, can be contacted at dtrytten at ou dot edu.<br>
Contact the researcher(s) if you have questions, or if you have experienced a research related injury.<br>
If you have any questions about your rights as a research participant, concerns, or complaints about the research and wish to talk to someone other than individuals on the research team or if you cannot reach the research team, you may contact the University of Oklahoma – Norman Campus Institutional Review Board (OU-NC IRB) at 405-325-8110 or irb@ou.edu.<br>

<h3>Statement of Consent</h3>
By utilizing this software I have read the above information and meet the participation requirements. I have asked questions and have received satisfactory answers. I consent to participate in the study.<br>

<br>
IRB 4840 approved 10/17/2014
