extends layout

a(href="/auth/facebook") Login via Facebook

block content
  #page-content-wrapper
    .page-content.inset
      .row
        a#menu-toggle.btn.btn-default(href='#')
          i.fa.fa-bars
        .col-md-12
          h1 Say something meaningful here.
          p.lead Say something worthwhile here.
          a(href="/") Go home
          br
          a(href="/ping") Ping
          br
          a(href="/auth/facebook") Login via Facebook

  script
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("active");
    });